/****
Colors:
https://coolors.co/palette/573c27-a98360-fdeed9-ffadc6-e34989

*/

[data-theme='cookies'] {
    --color-primary: #a98360;
    --color-pink: #ffadc6;
    --color-dark: #e34989;
    --color-brown: #573c27;
    --color-cream: #fdeed9;

}


/****** Hero ******/
/****** Hero ******/
/****** Hero ******/

body {
    background: var(--color-cream);
}
.hero-mesh {
    background: url("https://images.contentstack.io/v3/assets/bltcedd8dbd5891265b/bltcf8370ba0b3162f8/6790184458fb6d84f38112bc/cookie-types-hero-assorted-cookies.jpeg");
    background-position: center;
    background-size: cover;
}

.hero-title {
    Color:var(--color-dark)
}

.hero-support {
    Color:var(--color-pink);
}

/*******NavBar*******/
/*******NavBar*******/
/*******NavBar*******/

.site-nav-brand {
    color: var(--color-pink);
}

.site-nav-inner {
    color: var(--color-pink);
}

.is-nav-ready .site-nav.is-stuck {
    background: color-mix(in oklab, var(--color-brown) 88%, transparent);
    backdrop-filter: blur(10px);
}

/*******countdown*******/
/*******countdown*******/
/*******countdown*******/

.entry-title h3 {
    font-size: 1.25rem;
}

.p-right-6 {
    padding-right: 6rem !important;
}